<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gfd.keeplive">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.xiyang51.keeplive.receiver.NotificationClickReceiver" />
        <activity android:name="com.xiyang51.keeplive.activity.OnePixelActivity" />

        <service android:name="com.xiyang51.keeplive.service.LocalService" />
        <service android:name="com.xiyang51.keeplive.service.HideForegroundService" />
        <service
            android:name="com.xiyang51.keeplive.service.JobHandlerService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.xiyang51.keeplive.service.RemoteService"
            android:process=":remote" />
    </application>

</manifest>